.sl-header__bg {
  background: url('/src/images/bg-assets/pure-black-1920.svg') no-repeat center center fixed;
  background-size: cover;
  padding: 120px 0 89px 0;
}
@media (max-width: 1440.98px) {
  .sl-header__bg {
    background: url('/src/images/bg-assets/pure-black-1440.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 991.98px) {
  .sl-header__bg {
    background: url('/src/images/bg-assets/pure-black-768.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 81px 0 80px 0;
  }
}
@media (max-width: 767.98px) {
  .sl-header__bg {
    background: url('/src/images/bg-assets/pure-black-375.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 81px 0 60px 0;
  }
}

.sl-header__heading1 {
  background: var(--gradient-grey-orange);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 328px;
  margin-bottom: 30px;
  animation: sl-header-fade-in linear 1.5s;
}
@media (max-width: 991.98px) {
  .sl-header__heading1 {
    max-width: 242px;
    margin-bottom: 24px;
  }
}
@media (max-width: 767.98px) {
  .sl-header__heading1 {
    max-width: 161px;
    margin-bottom: 20px;
  }
}

.sl-header__button-wrapper {
  background: var(--gradient-grey-orange);
  width: fit-content;
  border-radius: 36px;
  padding: 1px;
  margin-bottom: 117px;
  animation: sl-header-fade-in linear 1.5s;
}
@media (max-width: 991.98px) {
  .sl-header__button-wrapper {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .sl-header__button-wrapper {
    margin-bottom: 36px;
  }
}

.sl-header__button {
  color: var(--primary-white);
  background: var(--primary-black);
  border: none;
  padding: 14px 40px 16px 40px;
}
@media (max-width: 767.98px) {
  .sl-header__button {
    padding: 6px 20px 8px;
  }
}

.sl-header__heading2 {
  color: var(--primary-white);
  margin-bottom: 0;
  max-width: 600px;
  animation: sl-header-fade-in linear 1.5s;
}
@media (max-width: 991.98px) {
  .sl-header__heading2 {
    margin-bottom: 80px;
    max-width: 688px;
  }
}
@media (max-width: 767.98px) {
  .sl-header__heading2 {
    margin-bottom: 60px;
    max-width: 326px;
  }
}

.sl-header__scroll {
  animation: sl-header-fade-in linear 1.5s;
}

/* Animations - Fade-ins */
@keyframes sl-header-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Animations - Lottie */
#sl-header__line-animation {
  position: absolute;
  width: 600px;
  top: 95px;
  left: -25px;
}
@media (max-width: 991.98px) {
  #sl-header__line-animation {
    width: 500px;
    top: 20px;
    left: 100px;
  }
}
@media (max-width: 767.98px) {
  #sl-header__line-animation{
    width: 350px;
    top: 60px;
    left: -15px;
  }
}
