.mailing__bg {
  position: relative;
  overflow-x: hidden;
  padding: 132px 0 160px 0;
}
@media (max-width: 767.98px) {
  .mailing__bg {
    padding: 100px 0 96px 0;
  }
}

.mailing__bg-gray {
  background: url('/src/images/backgrounds/mailing-list/gray-desktop.svg');
  background-size: cover;
}
@media (max-width: 991.98px) {
  .mailing__bg-gray {
    background: url('/src/images/backgrounds/mailing-list/gray-tablet.svg');
    background-size: cover;
  }
}
@media (max-width: 767.98px) {
  .mailing__bg-gray {
    background: url('/src/images/backgrounds/mailing-list/gray-mobile.svg');
    background-size: cover;
  }
}

.mailing__bg-black {
  background: url('/src/images/backgrounds/mailing-list/black-desktop.svg');
  background-size: cover;
}
@media (max-width: 991.98px) {
  .mailing__bg-black {
    background: url('/src/images/backgrounds/mailing-list/black-tablet.svg');
    background-size: cover;
  }
}
@media (max-width: 767.98px) {
  .mailing__bg-black {
    background: url('/src/images/backgrounds/mailing-list/black-mobile.svg');
    background-size: cover;
  }
}

.mailing__bg-white {
  background: url('/src/images/backgrounds/mailing-list/white-desktop.svg');
  background-size: cover;
}
@media (max-width: 991.98px) {
  .mailing__bg-white {
    background: url('/src/images/backgrounds/mailing-list/white-tablet.svg');
    background-size: cover;
  }
}
@media (max-width: 767.98px) {
  .mailing__bg-white {
    background: url('/src/images/backgrounds/mailing-list/white-mobile.svg');
    background-size: cover;
  }
}

.mailing__heading {
  margin: 41px 0 40px;
}
.mailing__heading-gray, .mailing__heading-black {
  color: var(--primary-white);
}
.mailing__heading-white {
  color: var(--primary-black);
}

.mailing__form {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .mailing__form {
    display: block;
  }
}

.mailing__button {
  color: var(--primary-white);
  background: var(--primary-orange);
  margin-left: 10px;
  border: 2px solid var(--primary-orange);
}
@media (max-width: 767.98px) {
  .mailing__button {
    margin-top: 12px;
    margin-left: 0;
    width: 100%;
  }
}

.mailing__image-wrapper {
  position: absolute;
  bottom: 0;
  right: 30px;
}
@media (max-width: 1440.98px) {
  .mailing__image-wrapper {
    right: -170px;
  }
}
