.mailing__bg {
  position: relative;
  overflow-x: hidden;
  padding: 132px 0 160px 0;
}
@media (max-width: 767.98px) {
  .mailing__bg {
    padding: 100px 0 96px 0;
  }
}

.mailing__bg--gray {
  background: url('/src/images/bg-assets/dark-1920.svg') no-repeat center center fixed;
  background-size: cover;
}
@media (max-width: 1440.98px) {
  .mailing__bg--gray {
    background: url('/src/images/bg-assets/dark-1440.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 991.98px) {
  .mailing__bg--gray {
    background: url('/src/images/bg-assets/dark-768.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 767.98px) {
  .mailing__bg--gray {
    background: url('/src/images/bg-assets/dark-375.svg') no-repeat center center fixed;
    background-size: cover;
  }
}

.mailing__bg--black {
  background: url('/src/images/bg-assets/black-1920.svg') no-repeat center center fixed;
  background-size: cover;
}
@media (max-width: 1440.98px) {
  .mailing__bg--black {
    background: url('/src/images/bg-assets/black-1440.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 991.98px) {
  .mailing__bg--black {
    background: url('/src/images/bg-assets/black-768.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 767.98px) {
  .mailing__bg--black {
    background: url('/src/images/bg-assets/black-375.svg') no-repeat center center fixed;
    background-size: cover;
  }
}

.mailing__bg--white {
  background: url('/src/images/bg-assets/light-1920.svg') no-repeat center center fixed;
  background-size: cover;
}
@media (max-width: 1440.98px) {
  .mailing__bg--white {
    background: url('/src/images/bg-assets/light-1440.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 991.98px) {
  .mailing__bg--white {
    background: url('/src/images/bg-assets/light-768.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 767.98px) {
  .mailing__bg--white {
    background: url('/src/images/bg-assets/light-375.svg') no-repeat center center fixed;
    background-size: cover;
  }
}

.mailing__heading {
  margin: 41px 0 40px;
}
.mailing__heading-gray, .mailing__heading-black {
  color: var(--primary-white);
}
.mailing__heading-white {
  color: var(--primary-black);
}

.mailing__form {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .mailing__form {
    display: block;
  }
}

.mailing__button {
  color: var(--primary-white);
  background: var(--primary-orange);
  margin-left: 10px;
  border: 2px solid var(--primary-orange);
}
@media (max-width: 767.98px) {
  .mailing__button {
    margin-top: 12px;
    margin-left: 0;
    width: 100%;
  }
}

.mailing__image-wrapper {
  position: absolute;
  bottom: 0;
  right: 30px;
}
@media (max-width: 1440.98px) {
  .mailing__image-wrapper {
    right: -170px;
  }
}

/* Horizontal Lines */
.mailing__horizontal {
  height: 1px;
  width: 100%;
	position: absolute;
  top: 200px;
}
@media (max-width: 767.98px) {
  .mailing__horizontal {
    top: 160px;
  }
}

.mailing__horizontal--gray {
  background: var(--primary-black);
}
.mailing__horizontal--black {
  background: #373B3E;
}
.mailing__horizontal--white {
  background: #EDEDED;
}
