/* Mobile */
@media (max-width: 767.98px) {
  /* Bootstrap overrides */
  .navbar {
    padding: 21px 0 15px 0 !important;
    border-bottom: 1px solid #EDEDED;
  }

  .navbar-light .navbar-brand {
    padding: 0 !important;
  }

  /* Hamburger / 'X' icons */
  .navbar-light .navbar-toggler {
    padding: 0 !important;
    margin-right: 30px;
    border: none;
  }

  .navbar a.nav-link  {
    padding: 12px 30px !important;
  }

  /* Custom Classes */
  .navbar--open {
    background: var(--primary-white);
  }
}