.sl-part__bg {
  position: relative;
  background: url('/src/images/bg-assets/dark-1920.svg') no-repeat center center fixed;
  background-size: cover;
  padding: 141px 0;
}
@media (max-width: 1440.98px) {
  .sl-part__bg {
    background: url('/src/images/bg-assets/dark-1440.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 991.98px) {
  .sl-part__bg {
    background: url('/src/images/bg-assets/dark-768.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 101px 0;
  }
}
@media (max-width: 767.98px) {
  .sl-part__bg {
    background: url('/src/images/bg-assets/dark-375.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 81px 0;
  }
}

.sl-part__card {
  background: var(--primary-black);
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.02), 80px 80px 80px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  padding: 48px;
}
@media (max-width: 767.98px) {
  .sl-part__card {
    padding: 40px;
    height: 710px;
  }
}

.sl-part__heading {
  color: var(--primary-white);
  max-width: 532px;
  margin-bottom: 136px;
}
@media (max-width: 991.98px) {
  .sl-part__heading {
    max-width: 276px;
    margin-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .sl-part__heading {
    max-width: 100%;
    margin-bottom: 48px;
  }
}

.sl-part__body {
  color: var(--primary-white);
  margin-bottom: 0;
  max-width: 360px;
}
@media (max-width: 991.98px) {
  .sl-part__body {
    max-width: 276px;
  }
}
@media (max-width: 767.98px) {
  .sl-part__body {
    max-width: 100%;
  }
}

/* Animations - Lottie */
#sl-part__underline-animation {
  position: absolute;
  width: 400px;
    top: 13px;
    left: -50px;
}
@media (max-width: 991.98px) {
  #sl-part__underline-animation {
    width: 325px;
    top: 13px;
    left: -40px;
  }
}
@media (max-width: 767.98px) {
  #sl-part__underline-animation {
    width: 220px;
    top: 10px;
    left: -30px;
  }
}

/* Horizontal Lines */
.sl-part__horizontal {
  height: 1px;
  background: var(--primary-black);
  width: 100%;
	position: absolute;
}

.sl-part__horizontal1 {
	top: 120px;
}
@media (max-width: 991.98px) {
  .sl-part__horizontal1 {
    bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .sl-part__horizontal1 {
    top: 60px;
  }
}

.sl-part__horizontal2 {
	bottom: 120px;
}
@media (max-width: 991.98px) {
  .sl-part__horizontal2 {
    bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .sl-part__horizontal2 {
    bottom: 60px;
  }
}