.mc-defi__bg-color {
  background: #FCFBFA;
}

.mc-defi__bg {
  position: relative;
  background: url('/src/images/bg-assets/light-1920.svg') no-repeat center center fixed;
  background-size: cover;
  padding: 120px 0 237px 0;
}
@media (max-width: 1440.98px) {
  .mc-defi__bg {
    background: url('/src/images/bg-assets/light-1440.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 991.98px) {
  .mc-defi__bg {
    background: url('/src/images/bg-assets/light-768.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0 0 0;
  }
}
@media (max-width: 767.98px) {
  .mc-defi__bg {
    background: url('/src/images/bg-assets/light-375.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 60px 0 0 0;
  }
}

.mc-defi__eyebrow {
  background: var(--gradient-grey-orange);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 149px;
  display: block;
  margin-top: 61px;
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .mc-defi__eyebrow {
    margin-bottom: 16px;
  }
}

.mc-defi__heading {
  width: 480px;
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .mc-defi__heading {
    width: 506px;
    margin-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .mc-defi__heading {
    width: 327px;
    margin-bottom: 60px;
  }
}

.mc-defi__image-wrapper {
  position: absolute;
  bottom: 0;
  right: 30px;
  max-width: 760px;
}
@media (max-width: 1440.98px) {
  .mc-defi__image-wrapper {
    max-width: 485px;
  }
}
@media (max-width: 991.98px) {
  .mc-defi__image-wrapper {
    max-width: 100%;
  }
}

/* Animations - Lottie */
#mc-defi__circle-animation {
  position: absolute;
  width: 240px;
  top: 17px;
  left: 66px;
}
@media (max-width: 991.98px) {
  #mc-defi__circle-animation {
    width: 240px;
    top: 12px;
    left: 67px;
  }
}
@media (max-width: 767.98px) {
  #mc-defi__circle-animation {
    width: 140px;
    top: 6px;
    left: -40px;
  }
}

#mc-defi__underline-animation {
  position: absolute;
  width: 425px;
  top: 154px;
  left: -60px;
}
@media (max-width: 991.98px) {
  #mc-defi__underline-animation {
    width: 426px;
    top: 154px;
    left: -60px;
  }
}
@media (max-width: 767.98px) {
  #mc-defi__underline-animation {
    width: 174px;
    top: 54px;
    left: 137px;
  }
}