.products__bg {
  position: relative;
  /* background: url('/src/images/backgrounds/home/products-desktop.svg') no-repeat center center fixed; */
  background: url('/src/images/bg-assets/dark-1920.svg') no-repeat center center fixed;
  clip-path: url(#clip0);
  -webkit-clip-path: url(#clip0);
  background-size: cover;
  padding: 160px 0 141px;
}
@media (max-width: 1440.98px) {
  .products__bg {
    background: url('/src/images/bg-assets/dark-1440.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 120px 0 101px;
  }
}
@media (max-width: 991.98px) {
  .products__bg {
    /* background: url('/src/images/backgrounds/home/products-tablet.svg') no-repeat center center fixed; */
    background: url('/src/images/bg-assets/dark-768.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 120px 0 101px;
  }
}
@media (max-width: 767.98px) {
  .products__bg {
    /* background: url('/src/images/backgrounds/home/products-mobile.svg') no-repeat center center fixed; */
    background: url('/src/images/bg-assets/dark-375.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0 77px;
  }
}

.products__heading {
  color: var(--primary-white);
  margin-bottom: 101px;
  max-width: 707px;
}
@media (max-width: 991.98px) {
  .products__heading {
    margin-bottom: 81px;
    max-width: 505px;
  }
}
@media (max-width: 767.98px) {
  .products__heading {
    margin-bottom: 69px;
    max-width: 327px;
  }
}

/* Card */
.products__card {
  padding: 48px;
  border-radius: 24px;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}
.products__card:hover {
  top: -30px;
}
.products__card--left {
  background: var(--primary-black);
}
.products__card--right {
  background: var(--primary-white);
}
@media (max-width: 991.98px) {
  .products__card {
    height: auto;
    max-width: 688px;
  }
  .products__card--right {
    margin-top: 20px;
  }
}
@media (max-width: 767.98px) {
  .products__card {
    padding: 36px;
  }
}

.products__card-eyebrow {
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
}
.products__card-eyebrow::after {
  background: var(--gradient-grey-orange);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
}

.products__card-eyebrow--left {
  color: var(--primary-white);
}
.products__card-eyebrow--right {
  color: var(--primary-black);
}

.products__card-title {
  margin-top: 56px;
  margin-bottom: 72px;
}
@media (max-width: 767.98px) {
  .products__card-title {
    margin-top: 24px;
    margin-bottom: 48px;
  }
}
.products__card-title--left {
  color: var(--primary-white);
}
.products__card-title--right {
  color: var(--primary-black);
}

.products__button-wrapper {
  background: var(--gradient-grey-orange);
  width: fit-content;
  border-radius: 36px;
  padding: 1px;
}
.products__button--left {
  color: var(--primary-white);
  background: var(--primary-black);
}
.products__button--right {
  background: var(--primary-white);
  border: 2px solid var(--primary-white);
}

.products__card-body {
  margin: 24px 0;
  max-width: 320px;
}
@media (max-width: 767.98px) {
  .products__card-body {
    max-width: 200px;
  }
}
.products__card-body--left {
  color: var(--primary-white);
}
.products__card-body--right {
  color: var(--whirightte);
}

.products__img-wrapper {
  position: absolute;
  bottom: 0;
  right: -48px;;
}
@media (max-width: 767.98px) {
  .products__img-wrapper {
    bottom: -20px;
    right: -36px;;
  }
}

@media (max-width: 767.98px) {
  .products__img {
    max-height: 140px;
  }
}

/* Animations - Transitions */
.products__card-slide--left {
  transform: translateY(300px);
  animation: products-come-in 0.8s ease forwards, products-fade-in 2s;;
}
.products__card-slide--right {
  transform: translateY(300px);
  animation: products-come-in 1.4s ease forwards, products-fade-in 2s;;
}
@keyframes products-come-in {
  to { transform: translateY(0); }
}
@keyframes products-fade-in {
  0% { opacity:0; }
  100% { opacity:1; }
}

/* Animations - Lottie */
#products__full-control-animation {
  position: absolute;
  width: 300px;
  top: 65px;
  left: -60px;
}
@media (max-width: 991.98px) {
  #products__full-control-animation {
    top: 110px;
    left: 125px;
  }
}
@media (max-width: 767.98px) {
  #products__full-control-animation {
    width: 220px;
    top: 170px;
    left: -35px;
  }
}

#products__products-animation {
  position: absolute;
  width: 300px;
  top: -10px;
  left: -30px;
}
@media (max-width: 767.98px) {
  #products__products-animation {
    width: 235px;
    top: -5px;
  }
}

/* Horizontal Lines */
.products__horizontal {
  height: 1px;
  background: var(--primary-black);
  width: 100%;
	position: absolute;
}

.products__horizontal1 {
	top: 395px;
}
@media (max-width: 991.98px) {
  .products__horizontal1 {
    top: 468px;
  }
}
@media (max-width: 767.98px) {
  .products__horizontal1 {
    top: 432px;
  }
}

.products__horizontal2 {
	bottom: 85px;
}
@media (max-width: 991.98px) {
  .products__horizontal2 {
    bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .products__horizontal2 {
    bottom: 60px;
  }
}