.header__bg {
  position: relative;
  background: url('/src/images/bg-assets/light-1440.svg') no-repeat center center fixed;
  background-size: cover;
  padding: 121px 0 60px 0;
}
@media (max-width: 991.98px) {
  .header__bg {
    padding: 101px 0 60px 0;
  }
}
@media (max-width: 767.98px) {
  .header__bg {
    padding: 81px 0 381px 0;
  }
}

.header__heading {
  margin-bottom: 101px;
  max-width: 707px;
  animation: fade-in linear 2s;
}
@media (max-width: 991.98px) {
  .header__heading {
    max-width: 505px;
  }
}
@media (max-width: 767.98px) {
  .header__heading {
    max-width: 327px;
    margin-bottom: 69px;
  }
}
@keyframes fade-in {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Animations - Lottie */
#header__future-animation {
  position: absolute;
  width: 400px;
  top: 50px;
  left: 220px;
}
@media (max-width: 991.98px) {
  #header__future-animation {
    width: 320px;
    left: 190px;
  }
}
@media (max-width: 767.98px) {
  #header__future-animation {
    width: 220px;
    top: 40px;
    left: 120px;
  }
}

#header__decentralized-animation {
  position: absolute;
  width: 450px;
  top: 220px;
  left: -10px;
}
@media (max-width: 991.98px) {
  #header__decentralized-animation {
    width: 360px;
    top: 190px;
    left: 60px;
  }
}
@media (max-width: 767.98px) {
  #header__decentralized-animation {
    width: 260px;
    top: 130px;
    left: 30px;
  }
}

/* Horizontal Line */
.header__horizontal {
  height: 1px;
  background: #EDEDED;
  width: 100%;
	position: absolute;
  bottom: 144px;
}

@media (max-width: 767.98px) {
  .header__horizontal {
    bottom: 465px;
  }
}


  