.investors__bg {
  position: relative;
  background: url('/src/images/backgrounds/home/investors-desktop.svg') no-repeat center center fixed;
  background-size: cover;
  padding: 120px 0;
}
@media (max-width: 991.98px) {
  .investors__bg {
    background: url('/src/images/backgrounds/home/investors-tablet.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
  }
}
@media (max-width: 767.98px) {
  .investors__bg {
    background: url('/src/images/backgrounds/home/investors-mobile.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 60px 0;
  }
}

.investors__heading {
  margin: 53px 0 80px 0;
}
@media (max-width: 767.98px) {
  .investors__heading {
    margin: 45px 0 60px 0;
  }
}

@media (max-width: 991.98px) {
  .investors__card--3, .investors__card--4 {
    margin-top: 60px;
  }
}
@media (max-width: 767.98px) {
  .investors__card--2, .investors__card--3, .investors__card--4  {
    margin-top: 48px;
  }
}

.investors__card-name {
  display: block;
  margin-top: 24px;
}

.investors__card-title {
  display: block;
  color: var(--primary-dark-grey);
  margin: 4px 0 12px;
}

/* Horizontal Line */
.investors__horizontal {
  height: 1px;
  background: #EDEDED;
  width: 100%;
	position: absolute;
  top: 168px;
}
@media (max-width: 991.98px) {
  .investors__horizontal {
    top: 128px;
  }
}
@media (max-width: 767.98px) {
  .investors__horizontal {
    top: 108px;
  }
}