.values__bg {
  position: relative;
  background: url('/src/images/backgrounds/home/values-desktop.svg') no-repeat center center fixed;
  background-size: cover;
  padding: 120px 0 141px 0;
}
@media (max-width: 991.98px) {
  .values__bg {
    background: url('/src/images/backgrounds/home/values-tablet.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0 101px 0;
  }
}
@media (max-width: 767.98px) {
  .values__bg {
    background: url('/src/images/backgrounds/home/values-mobile.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 60px 0 81px 0;
  }
}

.values__heading {
  background: var(--gradient-grey-orange);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 365px;
  margin-bottom: 0;
}

.values__paragraph {
  color: var(--primary-white);
  margin: 61px 0 80px 0;
  max-width: 600px;
}
@media (max-width: 767.98px) {
  .values__paragraph {
    margin: 61px 0 60px 0;
  }
}

.values__card {
  background: var(--primary-white);
  box-shadow: 0px 40px 36px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  padding: 40px;
  height: 100%;
}
@media (max-width: 991.98px) {
  .values__card {
    height: auto;
  }
  .values__card--3 {
    margin-top: 40px;
  }
  .values__card--4 {
    margin-top: 40px;
  }
}
@media (max-width: 767.98px) {
  .values__card--2 {
    margin-top: 24px;
  }
  .values__card--3 {
    margin-top: 24px;
  }
  .values__card--4 {
    margin-top: 24px;
  }
}

.values__card-title {
  margin: 40px 0 12px;
}

/* Animations - Transitions */
.values__card-slide--1 {
  transform: translateY(300px);
  animation: come-in 0.8s ease forwards;
}
.values__card-slide--2 {
  transform: translateY(300px);
  animation: come-in 1s ease forwards;
}
.values__card-slide--3 {
  transform: translateY(300px);
  animation: come-in 1.2s ease forwards;
}
.values__card-slide--4 {
  transform: translateY(300px);
  animation: come-in 1.4s ease forwards;
}
@keyframes come-in {
  to { transform: translateY(0); }
}

/* Animations - Lottie */
#values__circle-animation {
  position: absolute;
  width: 400px;
  top: 50px;
  left: 220px;
}
@media (max-width: 991.98px) {
  #values__circle-animation {
    width: 320px;
    left: 190px;
  }
}
@media (max-width: 767.98px) {
  #values__circle-animation {
    width: 220px;
    top: 40px;
    left: 120px;
  }
}

#values__line-animation {
  position: absolute;
  width: 450px;
  top: 220px;
  left: -10px;
}
@media (max-width: 991.98px) {
  #values__line-animation {
    width: 360px;
    top: 190px;
    left: 60px;
  }
}
@media (max-width: 767.98px) {
  #values__line-animation {
    width: 260px;
    top: 130px;
    left: 30px;
  }
}

/* Horizontal Lines */
.values__horizontal {
  height: 1px;
  background: #373B3E;
  width: 100%;
	position: absolute;
}

.values__horizontal1 {
	top: 220px;
}
@media (max-width: 991.98px) {
  .values__horizontal1 {
    top: 168px;
  }
}
@media (max-width: 767.98px) {
  .values__horizontal1 {
    top: 128px;
  }
}

.values__horizontal2 {
	bottom: 120px;
}
@media (max-width: 991.98px) {
  .values__horizontal2 {
    bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .values__horizontal2 {
    bottom: 60px;
  }
}