.values__bg {
  position: relative;
  /* background: url('/src/images/backgrounds/home/values-desktop.svg'); */
  background: url('/src/images/bg-assets/black-1920.svg') no-repeat center center fixed;
  background-size: cover;
  padding: 120px 0 141px 0;
}
@media (max-width: 1440.98px) {
  .values__bg {
    background: url('/src/images/bg-assets/black-1440.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 120px 0 101px;
  }
}
@media (max-width: 991.98px) {
  .values__bg {
    /* background: url('/src/images/backgrounds/home/values-tablet.svg'); */
    background: url('/src/images/bg-assets/black-768.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0 101px 0;
  }
}
@media (max-width: 767.98px) {
  .values__bg {
    /* background: url('/src/images/backgrounds/home/values-mobile.svg'); */
    background: url('/src/images/bg-assets/black-375.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 60px 0 81px 0;
  }
}

.values__heading {
  background: var(--gradient-grey-orange);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 330px;
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .values__heading {
    max-width: 275px;
  }
}
@media (max-width: 767.98px) {
  .values__heading {
    max-width: 185px;
  }
}

.values__paragraph {
  color: var(--primary-white);
  margin: 61px 0 80px 0;
  max-width: 600px;
}
@media (max-width: 767.98px) {
  .values__paragraph {
    margin: 61px 0 60px 0;
  }
}

.values__card {
  background: var(--primary-white);
  box-shadow: 0px 40px 36px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  padding: 40px;
  height: 100%;
}
@media (max-width: 991.98px) {
  .values__card {
    height: auto;
  }
  .values__card--3 {
    margin-top: 40px;
  }
  .values__card--4 {
    margin-top: 40px;
  }
}
@media (max-width: 767.98px) {
  .values__card--2 {
    margin-top: 24px;
  }
  .values__card--3 {
    margin-top: 24px;
  }
  .values__card--4 {
    margin-top: 24px;
  }
}

.values__card-title {
  margin: 40px 0 12px;
}

/* Animations - Transitions */
.values__card-slide--1 {
  transform: translateY(300px);
  animation: values-come-in 0.8s ease forwards, values-fade-in 2s;
  /* opacity: 0; */
}
.values__card-slide--2 {
  transform: translateY(300px);
  animation: values-come-in 1s ease forwards, values-fade-in 2s;

  /* opacity: 0; */
}
.values__card-slide--3 {
  transform: translateY(300px);
  animation: values-come-in 1.2s ease forwards, values-fade-in 2s;
}
.values__card-slide--4 {
  transform: translateY(300px);
  animation: values-come-in 1.4s ease forwards, values-fade-in 2s;
}
@keyframes values-come-in {
  to { transform: translateY(0);}
}
@keyframes values-fade-in {
  0% { opacity:0; }
  100% { opacity:1; }
}

/* Animations - Lottie */
#values__defi-animation {
  position: absolute;
  width: 200px;
  top: -15px;
  left: -65px;
}
@media (max-width: 991.98px) {
  #values__defi-animation {
    top: -15px;
    left: -65px;
  }
}
@media (max-width: 767.98px) {
  #values__defi-animation {
    width: 160px;
    top: -37px;
    left: -42px;
  }
}

#values__everyone-animation {
  position: absolute;
  width: 250px;
  top: 50px;
  left: 50px;
}
@media (max-width: 991.98px) {
  #values__everyone-animation {
    
  }
}
@media (max-width: 767.98px) {
  #values__everyone-animation {
    width: 168px;
    top: 81px;
    left: -21px;
  }
}

/* Horizontal Lines */
.values__horizontal {
  height: 1px;
  background: #373B3E;
  width: 100%;
	position: absolute;
}

.values__horizontal1 {
	top: 220px;
}
@media (max-width: 991.98px) {
  .values__horizontal1 {
    top: 168px;
  }
}
@media (max-width: 767.98px) {
  .values__horizontal1 {
    top: 128px;
  }
}

.values__horizontal2 {
	bottom: 120px;
}
@media (max-width: 991.98px) {
  .values__horizontal2 {
    bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .values__horizontal2 {
    bottom: 60px;
  }
}