.sl-defi__bg {
  background: url('/src/images/backgrounds/seamless/defi-desktop.svg');
  background-size: cover;
  padding: 40px 0 120px 0;
}
@media (max-width: 991.98px) {
  .sl-defi__bg {
    background: url('/src/images/backgrounds/seamless/defi-tablet.svg');
    background-size: cover;
    padding: 100px 0 80px 0;
  }
}
@media (max-width: 767.98px) {
  .sl-defi__bg {
    background: url('/src/images/backgrounds/seamless/defi-mobile.svg');
    background-size: cover;
    padding: 80px 0 60px 0;
  }
}

.sl-defi__eyebrow {
  background: var(--gradient-grey-orange);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 149px;
  display: block;
  margin-top: 80px;
  margin-bottom: 61px;
}
@media (max-width: 991.98px) {
  .sl-defi__eyebrow {
    margin-top: 0;
  }
}
@media (max-width: 767.98px) {
  .sl-defi__eyebrow {
    margin-bottom: 45px;
  }
}

.sl-defi__heading {
  color: var(--primary-white);
  margin-bottom: 0px;
  width: 600px;
}
@media (max-width: 991.98px) {
  .sl-defi__heading {
    margin-bottom: 80px;
    max-width: 688px;
  }
}
@media (max-width: 767.98px) {
  .sl-defi__heading {
    margin-bottom: 60px;
    max-width: 327px;
  }
}

/* Animations - Lottie */
#sl-defi__crypto-animation {
  margin: auto;
  max-width: 600px;
}

#sl-defi__line-animation {
  position: absolute;
  width: 170px;
  top: 200px;
  left: 360px;
}
@media (max-width: 991.98px) {
  #sl-defi__line-animation {
    top: 120px;
  }
}
@media (max-width: 767.98px) {
  #sl-defi__line-animation {
    top: 90px;
    width: 85px;
    left: 205px;
  }
}