.tools__bg-color {
  background: var(--primary-black);
}

.tools__bg {
  position: relative;
  background: url('/src/images/bg-assets/black-1920.svg') no-repeat center center fixed;
  background-size: cover;
  padding: 120px 0 141px 0;
}
@media (max-width: 1440.98px) {
  .tools__bg {
    background: url('/src/images/bg-assets/black-1440.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 991.98px) {
  .tools__bg {
    background: url('/src/images/bg-assets/black-768.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0 101px 0;
  }
}
@media (max-width: 767.98px) {
  .tools__bg {
    background: url('/src/images/bg-assets/black-375.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 60px 0 81px 0;
  }
}

.tools__heading {
  background: var(--gradient-grey-orange);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 406px;
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .tools__heading {
    max-width: 338px;
  }
}
@media (max-width: 767.98px) {
  .tools__heading {
    max-width: 225px;
  }
}

.tools__paragraph {
  color: var(--primary-white);
  margin: 61px 0 80px 0;
  max-width: 600px;
}
@media (max-width: 767.98px) {
  .tools__paragraph {
    margin: 61px 0 60px 0;
  }
}

.tools__card {
  background: var(--primary-white);
  box-shadow: 0px 40px 36px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  padding: 40px;
  height: 100%;
}
@media (max-width: 991.98px) {
  .tools__card {
    height: auto;
  }
  .tools__card--3 {
    margin-top: 40px;
  }
  .tools__card--4 {
    margin-top: 40px;
  }
}
@media (max-width: 767.98px) {
  .tools__card--2 {
    margin-top: 24px;
  }
  .tools__card--3 {
    margin-top: 24px;
  }
  .tools__card--4 {
    margin-top: 24px;
  }
}

.tools__card-title {
  margin: 40px 0 12px;
}

/* Animations - Transitions */
.tools__card-slide--1 {
  transform: translateY(300px);
  animation: tools-come-in 0.8s ease forwards, tools-fade-in 2s;
}
.tools__card-slide--2 {
  transform: translateY(300px);
  animation: tools-come-in 1s ease forwards, tools-fade-in 2s;
}
.tools__card-slide--3 {
  transform: translateY(300px);
  animation: tools-come-in 1.2s ease forwards, tools-fade-in 2s;
}
.tools__card-slide--4 {
  transform: translateY(300px);
  animation: tools-come-in 1.4s ease forwards, tools-fade-in 2s;
}
@keyframes tools-come-in {
  to { transform: translateY(0); }
}
@keyframes tools-fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Animations - Lottie */
#tools__circle-animation {
  position: absolute;
  width: 150px;
  top: 23px;
  left: 112px;
}
@media (max-width: 991.98px) {
  #tools__circle-animation {
    width: 135px;
    top: 25px;
    left: 120px;
  }
}
@media (max-width: 767.98px) {
  #tools__circle-animation {
    width: 125px;
    top: 15px;
    left: 145px;
  }
}

/* Horizontal Lines */
.tools__horizontal {
  height: 1px;
  background: #373B3E;
  width: 100%;
	position: absolute;
}

.tools__horizontal1 {
	top: 220px;
}
@media (max-width: 991.98px) {
  .tools__horizontal1 {
    bottom: 168px;
  }
}
@media (max-width: 767.98px) {
  .tools__horizontal1 {
    top: 128px;
  }
}

.tools__horizontal2 {
	bottom: 120px;
}
@media (max-width: 991.98px) {
  .tools__horizontal2 {
    bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .tools__horizontal2 {
    bottom: 60px;
  }
}