.home__container {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}
/* Desktop  - XL */
.home__graphic-container {
  position: absolute;
  top: 147px;
  right: 130px;
  z-index: 1;
}
/* Desktop */
@media (max-width: 1440.98px) {
  .home__graphic-container {
    top: 147px;
    right: -20px;
  }
}
/* Tablet */
@media (max-width: 991.98px) {
  .home__graphic-container {
    top: 280px;
    right: -140px;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
  .home__graphic-container {
    top: 415px;
    right: -60px;
  }
}

/* Tablet */
@media (max-width: 991.98px) {
  .home__graphic {
    max-width: 440px;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
  .home__graphic {
    max-width: 375px;
  }
}