/* Common (Mobile + Desktop) */
.navBar--black {
  border-bottom: 1px solid #373B3E;
  background: url('/src/images/bg-assets/pure-black-1920.svg') no-repeat center center fixed;
  background-size: cover;
}
@media (max-width: 1440.98px) {
  .navBar--black {
    background: url('/src/images/bg-assets/pure-black-1440.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 991.98px) {
  .navBar--black {
    background: url('/src/images/bg-assets/pure-black-768.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 767.98px) {
  .navBar--black {
    background: url('/src/images/bg-assets/pure-black-375.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
.navBar--white {
  border-bottom: 1px solid #EDEDED;
  background: url('/src/images/bg-assets/white-1920.svg') no-repeat center center fixed;
  background-size: cover;
}
@media (max-width: 1440.98px) {
  .navBar--white {
    background: url('/src/images/bg-assets/white-1440.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 991.98px) {
  .navBar--white {
    background: url('/src/images/bg-assets/white-768.svg') no-repeat center center fixed;
    background-size: cover;
  }
}
@media (max-width: 767.98px) {
  .navBar--white {
    background: url('/src/images/bg-assets/white-375.svg') no-repeat center center fixed;
    background-size: cover;
  }
}

.navBar__button {
  margin-left: 20px;
  border: 1px solid var(--primary-orange);
  color: var(--primary-orange);
}
.navBar__button:hover {
  background: var(--primary-orange);
  color: var(--primary-orange);
}
@media (max-width: 767.98px) {
  .navBar__button {
    background: var(--primary-white);
    border: 2px solid var(--primary-orange);
    width: 100%;
    margin-left: 0;
  }
}
.navBar__button--black {
  background: var(--primary-black);
}
.navBar__button--black:hover {
  color: var(--primary-black);
}
.navBar__button--white {
  background: var(--primary-white);
}
.navBar__button--white:hover {
  color: var(--primary-white);
}


.navBar__dropdown-title {
  display: block;
  color: var(--primary-black);
  font-size: 18px;
  line-height: 22px; 
}

.navBar__dropdown-description {
  display: block;
  color: #979797;
  font-size: 14px;
  line-height: 20px;
}

.navBar__child-logo {
  margin-right: 15px;
  border-radius: 50%;
  max-width: 48px;
}

.navBar__underline {
  text-decoration: underline;
  text-underline-position: under;
}