.future__heading {
  max-width: 600px;
}

.future__card {
  padding: 48px;
  border-radius: 24px;
}
.future__card--left {
  background: var(--primary-white);
}
.future__card--right {
  background: var(--slate);
}

.future__card-title {
  margin: 40px 0 24px 0;
  max-width: 360px;
}

.future__card-body {
  max-width: 360px;
}