.sl-future__bg {
  position: relative;
  background: url('/src/images/backgrounds/seamless/future-desktop.svg');
  background-size: cover;
  padding: 120px 0 141px;
}
@media (max-width: 991.98px) {
  .sl-future__bg {
    background: url('/src/images/backgrounds/seamless/future-tablet.svg');
    background-size: cover;
    padding: 120px 0 101px;
  }
}
@media (max-width: 767.98px) {
  .sl-future__bg {
    background: url('/src/images/backgrounds/seamless/future-mobile.svg');
    background-size: cover;
    padding: 80px 0 80px;
  }
}

.sl-future__heading {
  color: var(--primary-white);
  max-width: 600px;
  margin-bottom: 101px;
}
@media (max-width: 991.98px) {
  .sl-future__heading {
    max-width: 688px;
  }
}
@media (max-width: 767.98px) {
  .sl-future__heading {
    max-width: 327px;
    margin-bottom: 81px;
  }
}

.sl-future__card {
  padding: 48px;
  border-radius: 24px;
}
.sl-future__card--left {
  background: var(--primary-white);
}
.sl-future__card--right {
  background: var(--slate);
}
@media (max-width: 991.98px) {
  .sl-future__card--right {
    margin-top: 40px;
  }
}
@media (max-width: 767.98px) {
  .sl-future__card--right {
    margin-top: 24px;
  }
}

.sl-future__card-title {
  margin: 40px 0 24px 0;
  max-width: 360px;
}

.sl-future__card-body {
  max-width: 360px;
  margin-bottom: 0;
}

/* Animations - Transitions */
.sl-future__card-slide--left {
  transform: translateY(300px);
  animation: sl-future-come-in 0.8s ease forwards, sl-future-fade-in 2s;
}
.sl-future__card-slide--right {
  transform: translateY(300px);
  animation: sl-future-come-in 1.4s ease forwards, sl-future-fade-in 2s;
}
@keyframes sl-future-come-in {
  to { transform: translateY(0); }
}
@keyframes sl-future-fade-in {
  0% { opacity:0; }
  100% { opacity:1; }
}

/* Animations - Lottie */
#sl-future__future-animation {
  position: absolute;
  width: 255px;
  top: 75px;
  left: -30px;
}
@media (max-width: 991.98px) {
  #sl-future__future-animation {
    top: 10px;
    left: 400px;
  }
}
@media (max-width: 767.98px) {
  #sl-future__future-animation {
    width: 185px;
    top: -15px;
    left: 185px;
  }
}

/* Horizontal Lines */
.sl-future__horizontal {
  height: 1px;
  background: var(--primary-black);
  width: 100%;
	position: absolute;
}

.sl-future__horizontal1 {
	top: 404px;
}
@media (max-width: 767.98px) {
  .sl-future__horizontal1 {
    top: 332px;
  }
}

.sl-future__horizontal2 {
	bottom: 120px;
}
@media (max-width: 991.98px) {
  .sl-future__horizontal2 {
    bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .sl-future__horizontal2 {
    bottom: 60px;
  }
}
