.button-lg {
  font-size: 22px;
  line-height: 28px;
  padding: 15px 40px 17px; /* +2px border =  17px 40px 19px, total height = 64px */
  border-radius: 36px;
  border: 2px solid var(--primary-black);
  height: fit-content;
}
.button-sm {
  font-size: 18px;
  line-height: 22px;
  padding: 6px 20px 8px; /* +1px border = 7px 20px 9px, total height = 38px */
  border-radius: 20px;
  border: 1px solid var(--primary-black);
  height: fit-content;
}

.rotateimg180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

input {
  font-size: 24px !important;
  line-height: 32px !important;
  letter-spacing: -0.01em;
  padding: 12px 36px 18px; /* +1px border = 13px 20px 19px */
  border: 1px solid var(--primary-light-grey);
  border-radius: 36px;
}

/* input {   
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
} */
/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
} */

/* Bootstrap overrides */
.container {
  /* XXL */
  /* Bootstrap - 1140 */
  max-width: 1340px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
@media (max-width: 1440.98px) {
  /* XL */
  .container {
    max-width: 1260px !important;
  }
}
@media (max-width: 1199.98px) {
  /* LG */
  .container {
    max-width: 990px !important;
  }
}
@media (max-width: 991.98px) {
  /* MD */
  .container {
    max-width: 750px !important;
  }
}
@media (max-width: 767.98px) {
  /* XS & SM */
  .container {
    max-width: 767.98px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
} 