.home__tile {
    position: absolute;
    transform: translateY(-300px);
    right: 180px;
    z-index: 1;
  }
  @media (max-width: 1440.98px) {
    .home__tile {
      right: -50px;
    }
  }
  @media (max-width: 1199.98px) {
    .home__tile {
      max-width: 450px;
    }
  }
  @media (max-width: 991.98px) {
    .home__tile {
      right: -150px;
    }
  }
  @media (max-width: 767.98px) {
    .home__tile {
      max-width: 375px;
      right: -40px;
    }
  }
  
  .home__applications-tile {
    animation: applications-animation 0.8s ease forwards;
  }
  .home__protocols-tile {
    animation: protocols-animation 0.8s ease forwards;
  }
  .home__blockchain-tile {
    animation: blockchain-animation 0.8s ease forwards;
  }
  
  @keyframes applications-animation {
    to { transform: translateY(100px); }
  }
  @media (max-width: 1199.98px) {
    @keyframes applications-animation {
      to { transform: translateY(350px); }
    }
  }
  @media (max-width: 991.98px) {
    @keyframes applications-animation {
      to { transform: translateY(250px); }
    }
  }
  @media (max-width: 767.98px) {
    @keyframes applications-animation {
      to { transform: translateY(400px); }
    }
  }
  
  @keyframes protocols-animation {
    to { transform: translateY(300px); }
  }
  @media (max-width: 1199.98px) {
    @keyframes protocols-animation {
      to { transform: translateY(450px); }
    }
  }
  @media (max-width: 991.98px) {
    @keyframes protocols-animation {
      to { transform: translateY(400px); }
    }
  }
  @media (max-width: 767.98px) {
    @keyframes protocols-animation {
      to { transform: translateY(500px); }
    }
  }
  
  @keyframes blockchain-animation {
    to { transform: translateY(500px); }
  }
  @media (max-width: 1199.98px) {
    @keyframes blockchain-animation {
      to { transform: translateY(550px); }
    }
  }
  @media (max-width: 991.98px) {
    @keyframes blockchain-animation {
      to { transform: translateY(550px); }
    }
  }
  @media (max-width: 767.98px) {
    @keyframes blockchain-animation {
      to { transform: translateY(600px); }
    }
  }
  